########## A #################
net "A[0]" loc = N8;
net "A[1]" loc = U8;
net "A[2]" loc = V8;
net "A[3]" loc = T5;

########## B #################
net "B[0]" loc = T10;
net "B[1]" loc = T9;
net "B[2]" loc = V9;
net "B[3]" loc = M8;
########## OP CODE #################

###########################
net "op[0]" loc = D9;
net "op[1]" loc = B8;
###########################

########### OUTPUT ################
net "o[0]" loc = V15;
net "o[1]" loc = M11;
net "o[2]" loc = N11;
net "o[3]" loc = R11;
net "o[4]" loc = T11;
###########################