//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 21 17:16:28 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "switch" LOCATE = SITE "T10" LEVEL 1;
COMP "d<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "d<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "d<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "d<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "d<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "d<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "d<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "sel<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

